<header-nav></header-nav>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-7 col-md-7 border-profile-page">
            <div class="profile-content-padding">
                <img src="assets/images/person.png" alt="Person" style="height: 90px;width: 90px;">
                <div>
                    <span>Name : Harshal Nimbalkar </span> <br>
                    <span>Phone : +91 8655840948 </span> <br>
                    <span>DOB : 10 December 1987 </span> <br>
                    <span>DOJ : 25 May 2017 </span> <br>
                    <span>City : Navi-Mumbai </span>
                </div>
            </div>
            <div>
                <span> Commented by me </span> <br>
                <span> {{date | date : h:mm:ss}} - My comment 1</span> <br>
            </div>
        </div>
        <div class="col-lg-3 col-md-3"></div>
    </div>
</div>