<header-nav></header-nav>
<div>
    <div class="notifaction-content">

        <img src="assets/images/person.png" alt="Person" style="height:75px;width:75px;">
        <div class="name-mutual-content">
            <span class="notification-name">Sunny D'Souza</span> and <span class="notification-name">Vijay Kumar</span> have
            birthdays today. Send them good thoughts!
            <div><a href=""><span class="glyphicon glyphicon-thumbs-up"></span></a><span class="notification-time">11 hours ago</span></div>
        </div>
    </div>

</div>