.header-content {
    background-color: #2ad;
	left: 0;
    right: 0;
	width: 100%;
	border-width: 1px 0;
    border-style: solid;
	color: white;
    font-weight: 700;
	border-color: lightblue;
	font-size:30px;
	position: fixed;
}
.main-content {
	min-height: 300px
}

.footer-content {
	background-color: #2ad;
	left: 0;
    right: 0;
	width: 100%;
	border-width: 1px 0;
    border-style: solid;
	color: #333;
    font-weight: 700;
	border-color: lightblue;
	font-size:20px;
    bottom: -1px;
    padding-bottom: 1px;
	position: fixed;
}

.footer-alignment {
   left: 50%;
}

.footer-border {
	border-right: 1px solid;
	padding-left:0px;
	padding-right:0px;
}

.friend-content {
    position: relative;
    padding: 20px;
}

.notifaction-content {
	padding-left: 5px;
    padding-top: 20px;
    padding-bottom: 100%;
}

img {
	 width:60pt;
	 height:55pt;
	 float: left;
	 padding-right:10px;
 }

#username {
  font-weight: bold;
 }

 .btn-default {
	font-weight:bold;
    color: #c2c2d6;
    background-color: #fff;
    border-color: #ccc;
}

.notification-name,
.btn-primary {
	font-weight: bold;
}

.notification-time{
	color: #1ad1ff;
}

span{
    text-align: center;
}

.comment-count {
	padding-left: 20px;
}

.feed{
	padding-top: 20px;
	padding-bottom: 20px;
}

.col-lg-2 {
	padding-left: 0px;
}

.border-right-page {
	border-right: #a2a2c3 1px solid;
	border-left: #a2a2c3 1px solid;
	padding-left: 0px;
}

.border-right-page-height {
	padding-bottom: 570px;
}

.border-right-page-height-frnd {
padding-bottom: 700px;
}

.padding-left-create {
	padding-left: 80px;
}

.like-comment-share {
	border-bottom: 1px solid;
	border-top: 1px solid;
	border-color: #a2a2c3;
}

.feed-content {
	padding-top: 20px;
	padding-left: 15px;
}

.liked-modal-count {
	border-bottom: 1px solid;
}

.login-container {
	margin:10%;
	border: #cac3c3 solid 1px;
	padding: 10%;
	text-align: center;
}

.margin-bottom-5 {
	margin-bottom: 5%;
}

.padding-left {
	padding-left: 15px;
}
.image-content {
	width: 50px;
    height: 35px;
    padding-left: 10px;
}
.img-div-like {
	padding-bottom: 10px;
}

.share-post-now {
	padding-left: 10px;
	padding-bottom: 10px;
}

.share-modal {
	padding-left: 60px;
	font-size: 20px;
	padding-bottom: 20px;
}

.cross-float {
	float: right;
	margin-top: -10px;
}

.padding-bottom-modal-header {
	 padding-bottom: 5px;
}

#pageNotFound {
	height: 100%;
	width: 100%;
}

.padding-left-zero {
	padding-left: 0px;
}

.only-for-mobile-view {
	bottom: 0px;
	position: fixed;
	background-color: #3b5998;
	width: 100%;
}

.only-for-mobile-view>div>span>a>span,
.only-for-mobile-view>div>span>a {
	color: white;
}
.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.top-padding{
	    padding-top: 15%;
}

